-----BEGIN OPENSSH PRIVATE KEY-----
REPLACE_WITH_YOUR_ED25519_PRIVATE_KEY
This is the modern ed25519 OUTBOUND identity key. Copy this file to its real name (which may be
descriptive, e.g. id_rwtgit) and paste the real private key. Its public half must sit beside it
as <name>.pub. Real keys are .gitignore'd by the 'id_*' rule.
-----END OPENSSH PRIVATE KEY-----
