-----BEGIN OPENSSH PRIVATE KEY-----
REPLACE_WITH_YOUR_RSA_PRIVATE_KEY
This is the legacy RSA OUTBOUND identity key. Copy this file to its real name - which may be
descriptive rather than 'id_rsa', e.g. id_rwtgit - and paste the real private key. Its public
half must sit beside it as <name>.pub. linux/New-UbuntuUserData.ps1 will find the pair and
inject it into user-data. Real keys are .gitignore'd by the 'id_*' rule.
-----END OPENSSH PRIVATE KEY-----
