-----BEGIN OPENSSH PRIVATE KEY-----
REPLACE_WITH_YOUR_WINDOWS_OUTBOUND_PRIVATE_KEY
This is the OUTBOUND identity key placed in C:\Users\Admin\.ssh\id_ed25519 at first logon,
so the Windows box can authenticate OUT (git, servers). Copy this file to  id_ed25519  (no
.sample) and paste your real private key. The real file is .gitignore'd - keep it secret.
-----END OPENSSH PRIVATE KEY-----
