-----BEGIN OPENSSH PRIVATE KEY-----
REPLACE_WITH_YOUR_RSA_PRIVATE_KEY
Legacy RSA OUTBOUND identity key for the Windows box. Copy to its real name (id_rsa, or a
descriptive name like id_rwtgit) and paste the real key; keep <name>.pub beside it.
New-DeployableIso.ps1 discovers any id_* pair here and bakes it into the image.
-----END OPENSSH PRIVATE KEY-----
